*{
	font-style:normal;
	margin:0;
	padding:0;
	text-decoration:none;
	font-family:Arial;
}

button{
	font-size: 2em;
	margin: 1em;
	padding: 10px;
}

#breadcrumb, #tree {
	width: 50%;
  float: left;
}

li {
	list-style: none;
}

.badge {
	margin: 10px;
}
